@import "tailwindcss";


body{
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background: #0E0E0E;

    /* background: linear-gradient(90deg,rgba(255, 0, 60, 1) 0%, rgba(255, 97, 126, 1) 21%, rgba(255, 0, 60, 1) 44%, rgba(255, 97, 126, 1) 76%, rgba(255, 0, 60, 1) 100%); */
    /*background: linear-gradient(90deg, rgb(14, 14, 14) 0%, rgb(23, 22, 22) 21%, rgb(14, 14, 14) 44%, rgb(25, 24, 24) 76%, rgb(14, 14, 14) 100%);*/
    box-sizing: border-box;
    overflow: hidden;
}


*{
    box-sizing: border-box;

}

h1{
    font-weight: 700;
    /*font-family: "marigny", sans-serif;*/
    font-style: normal;
}

#__nuxt{
    width: 100%;
    height: 100%;
}

@theme {
    --color-template: #1C1C1C;
    --color-primary: #FF003C;
    --color-nav-primary: #6E6E6E;
    --color-nav-selected: #E8E6E5;
    --font-primary: "brillante-vf",sans-serif;
}

@font-face {
    font-family: 'Brillante';
    src: url('../fonts/brillante.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.link{
    font-variation-settings: 'wdth' 125, 'wght' 300;
    @apply hover:opacity-75 text-nav-primary px-3 py-1 rounded-md active:scale-90 duration-200 font-primary ;
}

.link.active{
    font-variation-settings: 'wdth' 125, 'wght' 400;
    @apply text-nav-selected px-3 py-1 rounded-md font-primary;
}